  <% cache article do %>
    <div class="article">
      <h3><%= strip_tags(article.title) %></h3>
      <span class="text">
          <%= raw(article.text) %>
      </span>
        <%= link_to 'Back', articles_path %>
        <div class="controlls"
           <% unless session[:user_id] %>style="display: none"<% end %> >

        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>

      </div>
    </div>
  <% end%>
