<span class="search corners">
  <%= search_form_for @q do |f| %>
  <%= f.label t('.find') %>
  <%= f.autocomplete_field :title_start,
    articles_autocomplete_article_title_path, :size => 15 %><br />
  <%= f.submit :value=>t('.search'), :class=>'fl_right' %>
<% end %>
</span>
<span class="create_link"
<% unless session[:user_id] %>style="display: none"<% end %> >
<%= link_to 'New Article', new_article_path %></span>
<h1><%= t('.header_articles')%></h1><br />
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

  <%= render(partial: 'article', collection: @articles) %>

<br />
 <p><%= will_paginate @articles %></p>

