<!DOCTYPE html>
<html>
<head>
  <title><%=  t('.title') %></title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Elmor's homepage, articles on troth, odinism" />
  <meta name="keywords" content="Troth, Asatru, odin,thor, freya, frigg, scandinavia, paganisn" />
  <meta name="author" content="Elmor" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> ">

  <table id="content">
    <tr>
      <td class="menu">
        <% if session[:user_id] %>
          <div class="controlls">
        <% end %>
        <ul><%= link_to t('.menu'), login_path, class: 'hidden_link' %>
          <li><%= link_to t('.articles'), articles_path %></li>
          <li><%= link_to t('.news'), news_index_path %></li>
        <% if session[:user_id] %>
          <li><%= link_to 'Users',users_path %></li>
        </ul>
        <%= button_to 'Logout',logout_path, method: :delete %>
        <% else %>
          </ul>
        <% end %>
          </div>
      </td>
      <td class="content">
          <div id="banner">
            <%= form_tag news_path, class: 'locale' do %>
              <%= select_tag 'set_locale',
                options_for_select(LANGUAGES, I18n.locale.to_s),
                onchange: 'this.form.submit()' %>
              <%= submit_tag 'submit' %>
              <%= javascript_tag "$('.locale input').hide()" %>
          <% end %>
        </div>
        <%= yield :layout %>
      </td>
    </tr>
  </table>


</body>
</html>
